@model CreateJobApplicationViewModel

@{
  ViewData["Title"] = "Dashboard - Analytics";
}

@* ************** Content ************** *@

<!-- HTML5 Inputs -->
<div class="card mb-6">
  <h5 class="card-header">Capture Job Application</h5>
  <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="card-body">
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Role Type *</label>
        <div class="col-md-10">
          <select asp-for="RoleTypeId" asp-items="Model.RoleTypeList" class="form-control">
            <option>Select Role Type</option>
          </select>
          <span asp-validation-for="RoleTypeId" class="text-danger"></span>
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Role Name *</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="@Model.RoleName" id="jobapplication-rolename" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Company/Advertiser *</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="@Model.CompanyName" id="jobapplication-companyname" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-url-input" class="col-md-2 col-form-label">Application URL</label>
        <div class="col-md-10">
          <input class="form-control" type="url" value='@Model.Url' id="jobapplication-url" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Advertised Salary</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="@Model.AdvertisedSalary"
            id="jobapplication-advertisedsalary" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Location</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="@Model.Location" id="jobapplication-location" />
        </div>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Commute</label>
        <select asp-for="CommuteId" asp-items="Model.CommuteList" class="form-control">
          <option>Select Commute</option>
        </select>
        <span asp-validation-for="CommuteId" class="text-danger"></span>
      </div>
      <div class="mb-4 row">
        <label for="html5-text-input" class="col-md-2 col-form-label">Application Status *</label>
        <select asp-for="ApplicationStatusId" asp-items="Model.ApplicationProcessStatusList" class="form-control">
          <option>Select Application Status</option>
        </select>
        <span asp-validation-for="ApplicationStatusId" class="text-danger"></span>
      </div>
      <div class="mb-4 row">
        <label for="html5-date-input" class="col-md-2 col-form-label">Application Date *</label>
        <div class="col-md-10">
          <input class="form-control" type="date" value="@Model.ApplicationDate.ToLongDateString()"
            id="jobapplication-applicationdate" />
        </div>
      </div>
      <input type="submit" value="Save"  class="btn btn-primary" />
      <button type="button" class="btn btn-secondary">Clear Form</button>
    </div>
  </form>
</div>
