@model CreateJobApplicationViewModel

@{
  ViewData["Title"] = "Create Job Application";
}

@* ************** Content ************** *@

<!-- HTML5 Inputs -->
<div class="card mb-6">
  <h5 class="card-header">Capture Job Application</h5>
  <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="card-body">
      <div class="mb-4 row">
        <label asp-for="RoleTypeId" class="col-md-2 col-form-label">Role Type *</label>
        <div class="col-md-10">
          <select asp-for="RoleTypeId" asp-items="Model.RoleTypeList" class="form-control">
            <option>Select Role Type</option>
          </select>
          <span asp-validation-for="RoleTypeId" class="text-danger"></span>
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="RoleName" class="col-md-2 col-form-label">Role Name *</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="@Model.RoleName" />
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="CompanyName" class="col-md-2 col-form-label">Company/Advertiser *</label>
        <div class="col-md-10">
          <input asp-for="CompanyName" type="text" value="@Model.CompanyName"/>
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="Url" class="col-md-2 col-form-label">Application URL</label>
        <div class="col-md-10">
          <input asp-for="Url" type="url" value="@Model.Url"/>
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="AdvertisedSalary" class="col-md-2 col-form-label">Advertised Salary</label>
        <div class="col-md-10">
          <input asp-for="AdvertisedSalary" type="text" value="@Model.AdvertisedSalary" />
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="Location" class="col-md-2 col-form-label">Location</label>
        <div class="col-md-10">
          <input asp-for="Location" type="text" value="@Model.Location"/>
        </div>
      </div>
      <div class="mb-4 row">
        <label asp-for="CommuteId" class="col-md-2 col-form-label">Commute</label>
        <select asp-for="CommuteId" asp-items="Model.CommuteList" class="form-control">
          <option>Select Commute</option>
        </select>
        <span asp-validation-for="CommuteId" class="text-danger"></span>
      </div>
      <div class="mb-4 row">
        <label asp-for="StatusId" class="col-md-2 col-form-label">Application Status *</label>
        <select asp-for="StatusId" asp-items="Model.ProcessStatusList" class="form-control">
          <option>Select Application Status</option>
        </select>
        <span asp-validation-for="StatusId" class="text-danger"></span>
      </div>
      <div class="mb-4 row">
        <label asp-for="ApplicationDate" class="col-md-2 col-form-label">Application Date *</label>
        <div class="col-md-10">
          <input class="form-control" type="date" value="@Model.ApplicationDate.ToLongDateString()" />
        </div>
      </div>
      <input type="submit" value="Save"  class="btn btn-primary" />
      <button type="button" class="btn btn-secondary">Clear Form</button>
    </div>
  </form>
</div>
