@model List<JobApplicationViewModel>

@{
  ViewData["Title"] = "Dashboard - Analytics";
}

@* ************** Content ************** *@
<div class="card">
  <h5 class="card-header">Table Basic</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Company Name</th>
          <th>Status</th>
          <th>Process Status</th>
          <th>Application Date</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr>
          @foreach(var jobApplication in Model)
          {
          <td>@jobApplication.RoleName</td>
          <td>@jobApplication.CompanyName</td>
          <td><span class="badge bg-label-primary me-1">@jobApplication.ApplicationStatus</span></td>
          <td><span class="badge bg-label-primary me-1">@jobApplication.ApplicationProcessStatus</span></td>
          <td>@jobApplication.ApplicationDate</td>
          <td></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Rejected</a>
              </div>
            </div>
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->
